.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.formControl input {
  /* max-width: 320px; */
  font-size: 18px;
}

.invalid > p {
  color: red;
}
