.svg {
  width: 286.25px;
  margin-top: 4rem;
  margin-bottom: 64px;
}

.form {
  margin: auto;
}

.form > Button {
  margin-top: 1rem;
  width: 142px;
  height: 48px;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.footer p {
  margin-top: 1.7rem;
}

p > button {
  color: rgba(104, 211, 145, 1);
  font-weight: 700;
  font-size: 16px;
  margin-left: 4px;
}
