.main {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 1rem;
}

.main:nth-child(even) {
  background-color: #adb5bd;
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.botRow {
  display: flex;
  justify-content: space-between;
}

.checkBox {
  display: flex;
  justify-content: space-between;
}

.action button {
  border: 1px solid transparent;
  font-size: 20px;
  background-color: inherit;
  color: green;
  cursor: pointer;
}

.action button:last-child {
  color: rgb(223, 33, 33);
}

.action button:active {
  background-color: #adb5bd;
  border-color: #858a8f;
  box-shadow: inset 0 0 3px 1px #777c80;
  filter: brightness(120%);
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.date {
  font-size: 12px;
  font-weight: 500;
}
.date span {
  font-size: 15px;
  font-weight: 500;
}

.priority {
  font-size: 15px;
  font-weight: 600;
}
