.checkBox input {
  width: 0;
}

.checkBox label {
  display: inline-block;
  font-size: 16px;
  border: 4px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
  margin: 8px;
}

.checkBox input:checked + label {
  border-color: rgba(49, 130, 206, 1);
}
