.main {
  border-bottom: 1px solid lavender;
}

.main:nth-child(even) {
  background-color: rgba(237, 242, 247, 1);
}

.action button {
  color: black;
  font-weight: 400;
  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.priority {
  font-size: 12px;
  font-weight: 700;
  color: white;
  border-radius: 2px;
  padding: 0 4px;
  background-color: rgb(75, 89, 218);
  text-align: center;
}

.high {
  background-color: rgba(43, 108, 176, 1);
}
.medium {
  background-color: rgba(66, 153, 225, 1);
}
.low {
  background-color: rgba(144, 205, 244, 1);
}

.checkbox {
  margin-left: 8px;
  width: 32px;
}
