.header {
  width: 100%;
  min-height: 128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}

.title {
  text-align: left;
}

.title h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

.title p {
  color: rgba(160, 174, 192, 1);
}

.action img {
  width: 20px;
}
